@import "settings";
@import "foundation";
@import "syntax";


header {
  @include grid-row;
  padding-bottom: em-calc(10px);
}

main {
  @include grid-row;

  aside  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:3);
    // }
  }

  article  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:8, $offset: 1);
    // }
  }
}

footer {
  @include grid-row;
  section {
    @include grid-column(6);
  }
}
