<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>

    {% stylesheet site %}
  </head>
  <body>

    <header>
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">{{ site.name }}</a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="left">
            <li><a href="/">home</a></li>
          </ul>
        </section>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <section class="contact">
        <p>
          Your Name<br />
          What You Are<br />
          you@example.com
        </p>
      </section>
      <section class="contact">
        <p>
          <a href="https://github.com/yourusername">github.com/yourusername</a><br />
          <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
        </p>
      </section>
    </footer>

    {% javascript site %}
  </body>
</html>
